{{ define "main" }}
  <header>
    {{ partial "breadcrumbs.html" . }}
    <h1 class="mt-0 text-4xl font-extrabold text-neutral-900 dark:text-neutral">{{ .Title }}</h1>
  </header>
  <div class="flex flex-col max-w-full mt-0 lg:flex-row">
    {{ if .Content }}
      <section class="order-first px-0 py-3 max-w-prose prose dark:prose-invert">
        {{ .Content | emojify }}
      </section>
    {{ end }}
    <section class="min-w-0 min-h-0 lg:ps-8">
      {{ range (.Paginate .Pages).Pages }}
        {{ partial "article-link.html" . }}
      {{ end }}
    </section>
  </div>
{{ end }}
