{{ $data := dict }}
{{ $url := .Get "url" }}
{{ with resources.GetRemote $url }}
{{ with .Err }}
{{ errorf "%s" . }}
{{ else }}
{{ $data = . | transform.Unmarshal }}
{{ end }}
{{ else }}
{{ errorf "Unable to get remote resource %q" $url }}
{{ end }}

{{ range $data }}
## {{ .name }}
<a href="{{ .html_url }}" target="_blank">{{ .full_name }}</a>
<p>{{ .owner.login }} | Sprog: {{.language}} | Stjerner: {{.stargazers_count}} | Forks: {{.forks_count}}  {{if .archived}}| Archived{{end}}<br>
Created at: {{substr .created_at 0 10}} Updated at: {{substr .updated_at 0 10}} Pushed at: {{substr .pushed_at 0 10}}</p>
<p>{{ .description }}</p>
{{ end }}
